// See https://ethanschoonover.com/solarized/ for colors.

@use 'sass:color';

$base03: #002b36;
$base02: #073642;
$base01: #586e75;
$base00: #657b83;
$base0: #839496;
$base1: #93a1a1;
$base2: #eee8d5;
$base3: #fdf6e3;
$yellow: #b58900;
$orange: #cb4b16;
$red: #dc322f;
$magenta: #d33682;
$violet: #6c71c4;
$blue: #268bd2;
$cyan: #2aa198;
$green: #859900;

@mixin solarized_common($rebase03, $rebase02, $rebase01, $rebase00, $rebase0, $rebase1, $rebase2, $rebase3, $themeStyle, $mermaidTheme) {
  body {
    color-profile: sRGB;
    rendering-intent: auto;
    // Variables follow order in
    // https://github.com/zadam/trilium/blob/master/src/public/stylesheets/theme-light.css.
    // Updated on 2021-11-01 to Trilium commit 7e4122654.

    --theme-style: #{$themeStyle};

    // TODO: not sure why, but just passing $rebase3 etc. does not work, and the
    // generated CSS will not properly substitute the values of the SASS
    // variables. #{$rebase3} works. Maybe it's because we're setting CSS
    // variables here? Just $rebase3 et al. seem to work just fine elsewhere.
    --main-background-color: #{$rebase3};
    --main-text-color: #{$rebase01};
    --main-border-color: #{$rebase00};

    --accented-background-color: #{$rebase2};
    --more-accented-background-color: #{$rebase1};

    --button-background-color: transparent;
    --button-disabled-background-color: #{$rebase1};
    --button-border-color: #{$rebase00};
    --button-text-color: #{$rebase01};

    --primary-button-background-color: #{$blue};
    --primary-button-text-color: #{$rebase01};
    --primary-button-border-color: #{$rebase00};

    --muted-text-color: #{$rebase00};

    --input-text-color: #{$rebase01};
    --input-background-color: #{$rebase3};

    --hover-item-text-color: #{$rebase01};
    --hover-item-background-color: #{$rebase2};

    --active-item-background-color: #{$rebase1};
    --active-item-text-color: #{$rebase01};

    --menu-text-color: #{$rebase01};
    --menu-background-color: #{$rebase3};

    --modal-background-color: #{$rebase2};
    --modal-text-color: #{$rebase00};

    --left-pane-background-color: #{$rebase2};
    --left-pane-text-color: #{$rebase00};

    --launcher-pane-background-color: #{$rebase2};
    --launcher-pane-text-color: #{$rebase00};

    --active-tab-background-color: #{$rebase2};
    --active-tab-text-color: #{$rebase01};

    --inactive-tab-background-color: #{$rebase3};
    --inactive-tab-text-color: #{$rebase03};

    --scrollbar-border-color: transparent;
    --tooltip-background-color: #{$rebase3};
    --link-color: #{$blue};

    --mermaid-theme: #{$mermaidTheme};

    ::-webkit-calendar-picker-indicator {
      filter: invert(1);
    }

    ::-webkit-scrollbar {
      width: 6px;
      height: 6px;
    }

    ::-webkit-scrollbar-thumb {
      border-radius: 2em;
      background: color.change($rebase03, $alpha: 0.075);
    }

    .gutter {
      background-color: transparent;
    }

    h1 {
      font-size: 2.5rem;
      margin: 1em 0;
    }

    h2 {
      font-size: 2.2rem;
      margin: 1em 0;
    }

    h3 {
      font-size: 1.8rem;
      margin: 1em 0;
    }

    .ck-content hr {
      border: none;
      height: 1px;
    }

    textarea:focus, input:focus {
      outline: none;
    }

    .todo-list__label {
      margin-bottom: 0;
    }

    .ck-content {
      .todo-list .todo-list__label {
        > input:before {
          border: 1px solid var(--link-color);
          border-radius: 2em;
        }
        > input[checked]::before {
          background-color: var(--link-color);
        }
      }

      pre {
        border: none;
        border-radius: 0;
        background-color: $rebase2;
      }
    }

    .calendar-widget .calendar-date, .calendar-widget .calendar-week span {
      font-size: 14px;
      font-weight: 400;
    }

    blockquote {
      color: $rebase00;
    }

    // For "Quick search" box's border.
    .form-control {
      border-color: var(--main-border-color);
    }
    .input-group-text {
      border-color: var(--main-border-color);
    }

    // Solarized theme for CodeMirror, based on
    // https://github.com/codemirror/CodeMirror/blob/master/theme/solarized.css.
    .cm-s-default {
      color-profile: sRGB;
      rendering-intent: auto;
      color: $rebase01;
      background-color: $rebase3;
      text-shadow: #{$rebase2} 0 1px;

      .CodeMirror-widget {
        text-shadow: none;
      }
      .cm-header { color: $rebase01; }
      .cm-quote { color: $rebase1; }

      .cm-keyword { color: $orange; }
      .cm-atom { color: $magenta; }
      .cm-number { color: $magenta; }
      .cm-def { color: $cyan; }

      .cm-variable { color: $rebase0; }
      .cm-variable-2 { color: $yellow; }
      .cm-variable-3, .cm-type { color: $violet; }

      .cm-property { color: $cyan; }
      .cm-operator { color: $violet; }

      .cm-comment { color: $rebase01; font-style:italic; }

      .cm-string { color: $green; }
      .cm-string-2 { color: $yellow; }

      .cm-meta { color: $green; }
      .cm-qualifier { color: $yellow; }
      .cm-builtin { color: $magenta; }
      .cm-bracket { color: $orange; }
      .CodeMirror-matchingbracket { color: $green; }
      .CodeMirror-nonmatchingbracket { color: $red; }
      .cm-tag { color: #{$rebase1}; }
      .cm-attribute { color: $cyan; }
      .cm-hr {
        color: transparent;
        border-top: 1px solid #{$rebase01};
        display: block;
      }
      .cm-link { color: #{$rebase1}; cursor: pointer; }
      .cm-special { color: $violet; }
      .cm-em {
        color: #{$rebase0};
        text-decoration: underline;
        text-decoration-style: dotted;
      }
      .cm-error, .cm-invalidchar {
        color: $rebase01;
        border-bottom: 1px dotted $red;
      }

      div.CodeMirror-selected {
        background: #{$rebase2};
      }
      .CodeMirror-line {
        &::selection, &::-moz-selection,
	> span::selection, > span::-moz-selection,
	> span > span::selection, > span > span::-moz-selection {
          background: #{$rebase2};
	}
      }

      // Editor styling

      // Little shadow on the view-port of the buffer view
      //.cm-s-default.CodeMirror {
      //  -moz-box-shadow: inset 7px 0 12px -6px #000;
      //  -webkit-box-shadow: inset 7px 0 12px -6px #000;
      //  box-shadow: inset 7px 0 12px -6px #000;
      //}

      // Remove gutter border
      .CodeMirror-gutters {
        border-right: 0;
      }

      // Gutter colors and line number styling based of color scheme (dark / light)
      .CodeMirror-gutters {
        background-color: $rebase2;
      }

      .CodeMirror-linenumber {
        color: $rebase0;
        padding: 0 5px;
      }

      .CodeMirror-guttermarker-subtle { color: $rebase01; }
      .CodeMirror-guttermarker { color: $orange; }
      .CodeMirror-gutter .CodeMirror-gutter-text { color: $rebase01; }

      // Cursor
      .CodeMirror-cursor { border-left: 1px solid #{$rebase0}; }

      // Fat cursor
      .CodeMirror-cursor { background: $rebase1; }
      .cm-animate-fat-cursor { background-color: $rebase1; }

      // Active line
      .CodeMirror-activeline-background {
        background: color.change($rebase03, $alpha: 0.06);
      }
    }

  }
}

// Solarized Light by default.
@include solarized_common(
  $base03, $base02, $base01, $base00, $base0, $base1, $base2, $base3,
  $themeStyle: "light",
  $mermaidTheme: "default");

// Solarized Dark if browser detects dark theme preference.
@media (prefers-color-scheme: dark) {
  @include solarized_common(
    $base3, $base2, $base1, $base0, $base00, $base01, $base02, $base03,
    $themeStyle: "dark",
    $mermaidTheme: "dark");
}
