/* See https://ethanschoonover.com/solarized/ for colors.
Clean structure from velvet theme https://github.com/idelem/trilium-theme-velvet */ 

body.theme-solarized {
    --main-background-color: #fdf6e3;
    --menu-background-color: #fdf6e3;
    --active-item-background-color: #fdf6e3;
    --input-background-color: #fdf6e3;
    --primary-button-background-color: #268bd2;
    --primary-button-border-color: #268bd2;
    --header-background-color: #fdf6e3;
    --button-background-color: #fdf6e3;
    --button-border-color: transparent;
    --main-border-color: transparent; 
    --scrollbar-border-color: transparent;
    --accented-background-color: #fdf6e3;
    --link-color: #268bd2;
    --main-text-color: #073642;
    --modal-background-color: #fdf6e3;
}

.theme-solarized ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

.theme-solarized ::-webkit-scrollbar-thumb {
    border-radius: 2em;
    background-color: rgba(0,0,0,0.075);
}

.theme-solarized .gutter {
    background-color: transparent;
}

body.theme-solarized h1 {
    font-size: 2.5rem;
    margin: 1em 0;
}

body.theme-solarized h2 {
    font-size: 2.2rem;
    margin: 1em 0;
}

body.theme-solarized h3 {
    font-size: 1.8rem;
    margin: 1em 0;
}

.theme-solarized .ck-content hr {
    border: none;
    height: 1px;
}

.theme-solarized textarea:focus, .theme-solarized input:focus{
    outline: none;
}

.theme-solarized .todo-list__label {
    margin-bottom: 0;
}

.theme-solarized .ck-content .todo-list .todo-list__label > input[checked]::before {
    background-color: var(--link-color);
    border: 1px solid var(--link-color);
    border-radius: 2em;
}

.theme-solarized .ck-content .todo-list .todo-list__label > input:before {
  border: 1px solid var(--link-color);
    border-radius: 2em;
}

.theme-solarized .ck-content pre {
    border: none;
    border-radius: 0;
    background-color: #ececec;
}

.theme-solarized .calendar-widget .calendar-date, .theme-solarized .calendar-widget .calendar-week span {
    font-size: 14px;
    font-weight: 400;
}

.theme-solarized blockquote {
    color: #839496;
}
